.containerForm{
  display: flex;
  flex-direction: column;

  padding: 30px;
}

.input{
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 15px 15px;
  width: 100%;
  font-size: 20px;
}


.buttonWrapper{
  padding-left:  30px;
  padding-right:  30px;
  padding-bottom:  50px;

}
.button {
  padding: 20px;
  width: 100%;
  border-radius: 18px;
  background: var(--color-white);
  font-size: 20px;

}
@media only screen and (max-width: 480px) {
  .containerForm {

    font-size: 29px;
  }
}
