.App {
  /* font-family: MontserrartArm; */
  text-align: center;
  padding: 20px;
}

.content {
  margin-top: 60px; /* Adjust this value based on the height of your header */
  padding: 20px;
}

.landing-page {
  margin: 20px 0;
}

.event-details {
  margin: 20px 0;
}

.rsvp-form {
  margin: 20px 0;
}

.rsvp-form form {
  display: inline-block;
  text-align: left;
}

.rsvp-form div {
  margin: 10px 0;
}




.time {
  font-size: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

